<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add a course</title>
    <link rel="stylesheet" th:href="@{/css/addNewCourse.css}" />
</head>
<body>


<form th:action="@{/course/add/complete}" th:object="${course}" method="post">
    <label>Name</label>
    <input type="text" th:field="*{name}" placeholder="Your name" />


    <label>Description</label>
    <input type="text" th:field="*{description}" placeholder="A description of your course" />


    <label>Credits</label>
    <input type="number" th:field="*{credits}" placeholder="Amount of Credits" />


    <label>First Exam date</label>
    <input type="date" th:field="*{examDateOne}" placeholder="First Exam Date" />


    <label>Second Exam date</label>
    <input type="date" th:field="*{examDateTwo}" placeholder="Second Exam Date" />

    <h3>Course Events</h3>
    <div th:each="event, iterStat : *{events}" class="event-block">
        <select th:field="*{events[__${iterStat.index}__].type}">
            <option th:each="t : ${T(com.organizer.studentorganizer.Course.Type).values()}"
                    th:value="${t}" th:text="${t}">Type</option>
        </select>

        <label>Weekday</label>
        <select th:field="*{events[__${iterStat.index}__].weekday}">
            <option th:each="d : ${T(com.organizer.studentorganizer.Course.Weekday).values()}"
                    th:value="${d}" th:text="${d}">Weekday</option>
        </select>

        <label>Start Time</label>
        <input type="time" th:field="*{events[__${iterStat.index}__].startTime}" />

        <label>End Time</label>
        <input type="time" th:field="*{events[__${iterStat.index}__].endTime}" />
        <hr/>
    </div>

    <button type="submit" formaction="/course/add/event">Add Event</button>
    <button type="submit" formaction="/course/add/complete">Submit new Course</button>
</form>

</body>
</html>