<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course page</title>
    <link rel="stylesheet" th:href="@{/css/coursepage.css}" />

</head>
<body>

<div class="container">

    <div class="top-bar">
        <div class="top-bar-inner">
            <div class="site-name">Course page</div>
            <div class="top-bar-buttons">
                <a th:href="@{/}" class="btn secondary">Home</a>
            </div>
        </div>
    </div>


    <div class="main-div-container">

        <div class="title-container">
            <div class="title-left">
                <h1 th:text="${course.name}">Course name</h1>
            </div>

            <div class="title-right">
                <h2 th:text="${course.credits} + ' Credits'">Credits</h2>
            </div>

        </div>

        <div class="content-div">
            <p id="description" th:text="${course.description}">Description</p>
        </div>

        <div class="content-div">
            <p>
                First exam date:
                <span class="exam-date" th:text="${course.examDateOne ?: 'No exam dates available'}"></span>
            </p>
            <p>
                Second exam date:
                <span class="exam-date" th:text="${course.examDateTwo ?: 'No exam dates available'}"></span>
            </p>
        </div>

        <div class="event-divs" th:each="event: ${course.events}">
            <h1 th:text="${event.type}"></h1>
            <h2 th:text="${event.weekday}"></h2>
            <p th:text="${event.startTime}"></p>
            <p th:text="${event.endTime}"></p>
        </div>

        <form th:action="@{/course/delete/{id}(id=${course.id})}" method="post" style="display:inline;">
            <button class="btn delete" type="submit">Delete</button>
        </form>
    </div>
</div>


</body>
</html>